.admin-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;        /* fixed sidebar width */
  background: #0A2147;
  color: white;
}

.content {
  flex: 1;             /* take remaining space */
  padding: 20px;
  background: #ECF0F2;
}
