

.img-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}



.img-table{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}